/* @font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
  }
  
  h1 {
    font-family: my-cool-font, sans-serif;
  } */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.08em;
}


body {
  overflow-x: hidden;
  background-color: rgb(247, 247, 247);
}

label {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-bottom: 15px;
}

input {
  outline: none;
  width: 20vw;
  height: 32px;
  border-width: 1px;
  border-radius: 4px;
  padding: 8px;
}

input:focus {
  border: 1px solid rgb(87, 230, 15);

}

#message {
  margin-top: 120px;
  color: red;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

form {
  width: 60vw;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
}

.content {
  width: 99vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
}

.left {
  background-image: url("https://images.unsplash.com/photo-1571329920889-5aa7a3e07e88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  width: 60vw;
}


.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.614);
  height: 200px;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.copy {
  margin-left: 2rem;
  margin-bottom: 60px;
  line-height: 40px;
}

.form-section {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  height: 380px;
  width: 100%;
  padding-left: 2em;
  padding-top: 4em;
}

.bottom-form-section {
  margin-top: 100px;
}

.input-section {
  display: flex;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 1.2rem 2vw 3rem 2vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

a {
  color: rgb(136, 0, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(97, 6, 176);
}

button {
  font-size: 16px;
  background-color: aquamarine;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(9, 238, 162);
  cursor: pointer;

}